* {
	font-family: 'Arial';
	text-align: center;
}

button {
	display: block;
	background: #45f;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	border: 0px;
	border-radius: 5px;
	padding: 0.66em;
	margin: 1em auto;
	width: 12em;
	transition: 0.4s;
}

button:hover {
	background: #8af;
	transition: 0.1s;
	transform: scale(1.02);
}

button:active {
	background: #028;
	transition: 0.1s;
	transform: scale(0.98);
}

.answer-list {
	width: 40em;
	margin: 0 auto;
	padding: 1em;
}

.question {
	font-size: 1.5em;
	padding-top: 3em;
	padding-bottom: 1em;
}

.results {
	font-size: 1.5em;
	text-align: center;
	padding-top: 3em;
}

.results p {
	padding-bottom: 1em;
}

.results ul {
	width: 20em;
	margin: 0 auto;
}

.results ul li {
	text-align: left;
	padding: 0.5em;
}

button.red {
	background: #f33;
}

button.red:hover {
	background: #f88;
}

button.red:active {
	background: #800;
}

button.green {
	background: #080;
}

button.green:hover {
	background: #6b6;
}

button.green:active {
	background: #040;
}

button.yellow {
	background: #fd0;
}

button.yellow:hover {
	background: #fe6;
}

button.yellow:active {
	background: #b90;
}

button.orange {
	background: #f83;
}

button.orange:hover {
	background: #fb8;
}

button.orange:active {
	background: #a50;
}

button.purple {
	background: #80b;
}

button.purple:hover {
	background: #c7f;
}

button.purple:active {
	background: #608;
}